<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>目录</title>
</head>
<body>
    <h1>{{ name }}</h1>
    <h5>{{ desc }}</h5>
    <p>uri: </p>
    <table style="background-color: rgb(240, 240, 240)">
    {% for item in uri %}
        <tr>
            <td><a href="{{ item.uri }}" target="_blank">{{ item.name }}</a></td>
            <td>{{ item.desc }}</td>
        </tr>
    {% endfor %}    
    </table>
    <p>params: </p>
    <table style="background-color: rgb(240, 240, 240)">
        <tr>
            <th>名字</th>
            <th>类型</th>
            <th>默认值</th>
            <th>是否必须</th>
        </tr>
        {% for item in params %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.default }}</td>
            <td>{{ item.must }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>成功返回结果: （mock：<a href="{{ mock.return }}" target="_blank">{{ mock.return }}</a>）</p>
    <pre style="background-color: rgb(240, 240, 240)">{{ return }}</pre>
    <p>确认返回结果: （mock：<a href="{{ mock.confirm }}" target="_blank">{{ mock.confirm }}</a>）</p>
    <pre style="background-color: rgb(240, 240, 240)">{{ confirm }}</pre>
    <p>失败返回结果: （mock：<a href="{{ mock.error }}" target="_blank">{{ mock.error }}</a>）</p>
    <pre style="background-color: rgb(240, 240, 240)">{{ error }}</pre>
</body>
</html>